.center {
    text-align: center;
}

.jumbotron{
    margin-top: 25px;
    margin-bottom :50px;
    margin-left: 250px;
    margin-right: 250px;
    height: 600px;
    background-color: #FFFF99 ;
}

h1 {
    font-family: 'Special Elite', cursive;
    color: red
    
    
}

p {
    font-family: 'Nanum Myeongjo', serif;
    color: red;
}

.form-check-label{
    font-family: 'Nanum Myeongjo', serif;

}

.question{
    text-align: center;

}
.form-check{
    text-align: center;
}

.card {
    margin-left: 250px;
    margin-right: 250px;
    background-color: #FFFF99 ;
}

.timer{
    position: fixed;
    background-color:black;
    color: greenyellow;
    margin-top: -25px;
    font-size: 50px;
    
}

@media screen and (max-width: 375px) {

    .card {
        margin-left: 10px;
        margin-right: 10px;
    }

    .jumbotron {
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
        height :650px;
    }

    .gif {
        width: 320px;
    }

    h1{
        font-size: 50px !important;
    }

 


}
